{% extends 'layout.html' %}

{% block content %}
<h1>Conjunto de datos de luces de tránsito</h1>
<p>Este conjunto de datos está compuesto de 3000 imágenes, 2600 de ellas son de entrenamiento, y 400 de prueba. El objetivo de este conjunto de datos es identificar la ubicación y el tipo de luces de tránsito que aparecen en una imagen. </p>
<p>Esta herramienta de visualización permite ver una tabla con todas las imágenes y sus características. También permite ver una imagen en particular, con un rectángulo resaltando la posición de las luces de tránsito detectadas.</p>

<h2> <a href="{{url_for('table')}}">Iniciar</a> </h2>
{% endblock %}